.gpt3__skills {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.gpt3__skills-heading {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;

    text-align: left;
    margin-right: 5rem;
}

.gpt3__skills-heading h1 {
    font-size: 34px;
    line-height: 95px;
    font-weight: 800;
    font-family: var(--font-family);
}

.gpt3__skills-heading p {
    color: var(--color-subtext);
    font-size: 16px;
    line-height: 30px;
    font-weight: 500;
    font-family: var(--font-family);

    margin-top: 2rem;
}

.gpt3__skills-container {
    flex: 1.5;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

@media screen and (max-width: 990px) {
    .gpt3__skills {
        flex-direction: column;
    }

    .gpt3__skills-heading {
        margin: 0 0 2rem 0;
    }
}


@media screen and (max-width: 550px) {
    .gpt3__skills-heading h1 {
        font-size: 28px;
        line-height: 38px;
    }
}

/* -----------Skills icons--------------------- */

.fa__icon-frontEnd {
    display: flex;
    flex-direction:row;
    gap: 1.5rem;
    margin-right: 2rem;
    overflow: wrap;
    line-height: 65px;
}

.icon__list {
    color: #fff;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}