.gpt3__navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 1rem 6rem;
}

.gpt3__navbar-links {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.gpt3__navbar-links_container {
    display: flex;
    flex-direction: row;
}

.gpt3__navbar-links_container p:hover{
    color: #fff;
    
}

.gpt3__navbar-media {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color:#fff;
}

.gpt3__navbar-links_container p,
.gpt3__navbar-media p,
.gpt3__navbar-menu_container p {
    /* color: #296a88; */
    color: #fff;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    text-transform: capitalize;

    margin: 0 1rem;
    cursor: pointer;
}

.gpt3__navbar-media a:hover {
    color: black;
}
.btn:hover {
    box-shadow: inset 300px 0 0 0 #e6674af3;
    color: #2B6D8B;
}

.gpt3__navbar-media {
    padding: .5rem;
    margin-bottom: 0.8px;
    font-family: var(--font-family);
    font-size: 18px;
    line-height: 25px;
    cursor: pointer;
    text-align: center;
    gap: 25px;
}

.gpt3__navbar-menu_container-links-sign {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color:#fff;
}

/* add hover over opacity */
.gpt3__navbar-menu_container-links-sign a:hover {
    color: black;
}
.gpt3__navbar-menu {
    margin-left: 1rem;

    display: none;
    position: relative;
}
/* 
.gpt3__navbar-menu svg {
    cursor: pointer;
} */

.gpt3__navbar-menu_container {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
    
    text-align: end;
    background: var(--color-footer);
    padding: 2rem;
    position: absolute;
    right: 0;
    top: 40px;
    margin-top: 1rem;
    min-width: 210px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0,0, 0,0.2);
}

.gpt3__navbar-menu_container p {
    margin: 1rem 0;
}

.gpt3__navbar-menu_container-links-media {
    display: none;
}

@media screen and (max-width: 1050px) {
    .gpt3__navbar-links_container {
        display: none;
    }

    .gpt3__navbar-menu {
        display: flex;
    }
}

@media screen and (max-width: 700px) {
    .gpt3__navbar {
        padding: 2rem 4rem;
    }
}

@media screen and (max-width: 550px) {
    .gpt3__navbar {
        padding: 2rem;
    }

    .gpt3__navbar-media {
        display: none;
    }

    .gpt3__navbar-menu_container {
        top: 20px;
    }

    .gpt3__navbar-menu_container-links-media {
        display: block;
    }
}

/* ---------  testing code  ------------- */

.gpt3__navbar-links {
    width: 80%;
    margin: 0 auto;
    /* background: #fff; */
    padding: 50px 0;
    /* box-shadow: 0px 5px 0px #dedede; */
  }
  .gpt3__navbar-links .gpt3__navbar-links_container {
    list-style: none;
    text-align: center;
  }
  .gpt3__navbar-links .gpt3__navbar-links_container p {
    display: inline-block;
  }
  .gpt3__navbar-links .gpt3__navbar-links_container p a {
    display: block;
    padding: 15px;
    text-decoration: none;
    /* color: #aaa; */
    /* font-weight: 800; */
    /* text-transform: uppercase; */
    margin: 0 10px;
  }
  .gpt3__navbar-links .gpt3__navbar-links_container p a,
  .gpt3__navbar-links .gpt3__navbar-links_container p a:after,
  .gpt3__navbar-links .gpt3__navbar-links_container p a:before {
    transition: all .5s;
  }
  .gpt3__navbar-links .gpt3__navbar-links_container p a:hover {
    color: black;
  }
  
  
  /* fill */
  
  .gpt3__navbar-links.fill .gpt3__navbar-links_container p a {
    position: relative;
  }
  
  .gpt3__navbar-links.fill .gpt3__navbar-links_container p a:after {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 0%;
    content: '.';
    color: transparent;
    background-color: #aaa;
    height: 1px;
  }
  
  .gpt3__navbar-links.fill .gpt3__navbar-links_container p a {
    transition: all 2s;
  }
  
  .gpt3__navbar-links.fill .gpt3__navbar-links_container p a:after {
    text-align: left;
    content: '.';
    margin: 0;
    opacity: 0;
  }
  .gpt3__navbar-links.fill .gpt3__navbar-links_container p a:hover {
    color: #fff;
    z-index: 1;
  }
  .gpt3__navbar-links.fill .gpt3__navbar-links_container p a:hover:after {
    z-index: -10;
    animation: fill 1s forwards;
    -webkit-animation: fill 1s forwards;
    -moz-animation: fill 1s forwards;
    opacity: 1;
  }


