* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

body {
  background: var(--color-bg);
}

a {
  color: unset;
  text-decoration: none;
}

.gradient__bg {
  /* background:-moz-radial-gradient(circle at 3% 25%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 25%); */

  /* safari 5.1+,chrome 10+ */
  /* background:-webkit-radial-gradient(circle at 3% 25%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 25%); */

  /* opera 11.10+ */
  /* background:-o-radial-gradient(circle at 3% 25%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 25%); */

  /* ie 10+ */
  /* background:-ms-radial-gradient(circle at 3% 25%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 25%); */

  /* global 92%+ browsers support */
  /* background:radial-gradient(circle at 3% 25%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 25%); */



    /* ff 3.6+ */
    background:-moz-linear-gradient(90deg, rgba(255, 161, 127, 1) 0%, rgba(192, 207, 210, 1) 44%, rgba(0, 34, 62, 1) 96%); 

    /* safari 5.1+,chrome 10+ */
    background:-webkit-linear-gradient(90deg, rgba(255, 161, 127, 1) 0%, rgba(192, 207, 210, 1) 44%, rgba(0, 34, 62, 1) 96%);

    /* opera 11.10+ */
    background:-o-linear-gradient(90deg, rgba(255, 161, 127, 1) 0%, rgba(192, 207, 210, 1) 44%, rgba(0, 34, 62, 1) 96%);

    /* ie 6-9 */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00223E', endColorstr='#FFA17F', GradientType=0 );

    /* ie 10+ */
    background:-ms-linear-gradient(90deg, rgba(255, 161, 127, 1) 0%, rgba(192, 207, 210, 1) 44%, rgba(0, 34, 62, 1) 96%);

    /* global 94%+ browsers support */
    background:linear-gradient(90deg, rgba(255, 161, 127, 1) 0%, rgba(192, 207, 210, 1) 44%, rgba(0, 34, 62, 1) 96%);

}

.animated {
  background: linear-gradient(-45deg, #3f51b1 0%, #5a55ae 13%, #7b5fac 25%, #8f6aae 38%, #a86aa4 50%, #cc6b8e 62%, #f18271 75%, #f3a469 87%, #f7c978 100%);

  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  /* height: 100vh; */
  /* display: flex;
  justify-content: center;
  align-items: center; */
}

  @keyframes gradient {
    0% {
      background-position: 0%;
    }
    50% {
      background-position: 100%;
    }
    100% {
      background-position: 0%;
    }
  }




.gradient__text {
  background: var(--gradient-text);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.section__padding {
  padding: 4rem 6rem;
}

.section__margin {
  margin: 4rem 6rem;
}

.scale-up-center {
	-webkit-animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@media screen and (max-width: 1050px) {
.section__padding{

}
.section__margin{
  
}
}

@media screen and (max-width: 700px) {
  .section__padding {
    padding: 4rem;
  }

  .section__margin {
    margin: 4rem;
  }
}

@media screen and (max-width: 550px) {
  .section__padding {
    padding: 4rem 2rem;
  }

  .section__margin {
    margin: 4rem 2rem;
  }  
}